body
{
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(circle, white 7px, transparent 7px), red;
    background-size: 110px 110px;

    text-align: center;

}

#Game
{
    width: 30rem;
    height: 30rem;
    border: solid 2px black;
    position: relative;
    background-color: green;
}

#Game > div
{
    width: 30px;
    height: 30px;
    border: 2px solid black;
    background-color: red;
    position: absolute;
}

#Startbtn
{
    background-color: green;
    border: solid 3px purple;
    width: 10rem;
    height: 3rem;
    font-size: x-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}